.box-block, .forums-list-item, .section-navbar, .panel, .forum-item {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.light {
  font-weight: 300; }

body {
  position: relative;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #e9ecef; }

.main {
  z-index: 1;
  min-height: 600px; }
  .main__header {
    padding: 125px 0 75px 0; }
    @media (max-width: 991.98px) {
      .main__header {
        padding: 160px 0 65px 0; } }
    .main__header[data-background-image] {
      background-position: center center;
      background-repeat: no-repeat no-repeat;
      z-index: 0; }
    .main__header_inverted {
      background: #75526b;
      background-image: linear-gradient(150deg, #875A7B 20%, #62495B 80%); }
  .main__header-bg-gray {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1; }
    .main__header[data-background-image] .main__header-bg-gray {
      background-color: rgba(0, 0, 0, 0.6); }
  .main .container {
    position: relative;
    z-index: 2; }

.main-title {
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  z-index: 2; }
  @media (max-width: 991.98px) {
    .main-title {
      font-size: 2.2em; } }
  .main__header_inverted .main-title {
    color: #ffffff;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15); }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }
  .header__main {
    background-color: #fff;
    padding: 0; }
    .header_invert .header__main {
      background-color: transparent; }
    .header__main .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center; }
      .header__main .container:before, .header__main .container:after {
        display: none; }

.logo {
  order: 2; }
  .logo__link {
    display: flex;
    align-items: center;
    height: 50px; }
  .logo__image {
    height: 34px;
    width: 148px;
    background-image: url("/theme_open_odoo/static/images/logo_open-odoo.svg");
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: auto 100%; }
    .header_invert .logo__image {
      background-image: url("/theme_open_odoo/static/images/logo_open-odoo_white.svg"); }

.main-menu {
  order: 3;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  flex-grow: 1; }
  @media (max-width: 991.98px) {
    .main-menu {
      order: 5;
      flex-direction: column;
      align-items: flex-start;
      flex-basis: 100%; } }
  @media (min-width: 992px) {
    .main-menu {
      display: flex; } }
  .main-menu.collapse.in {
    display: flex; }
  .main-menu__item {
    position: relative; }
  .main-menu__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 15px;
    text-transform: uppercase;
    color: #666666;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: .05em; }
    .main-menu__link:hover, .main-menu__link:focus {
      background-color: rgba(0, 0, 0, 0.05);
      text-decoration: none; }
    .main-menu__link.dropdown-toggle {
      background-color: transparent;
      border: none; }
      .main-menu__link.dropdown-toggle:hover, .main-menu__link.dropdown-toggle:focus {
        background-color: rgba(0, 0, 0, 0.05);
        text-decoration: none; }
    .header_invert .main-menu__link {
      color: #ffffff; }
      .header_invert .main-menu__link:hover {
        background-color: rgba(255, 255, 255, 0.25); }
    @media (max-width: 991.98px) {
      .main-menu__link {
        justify-content: flex-start; } }

.navbar-toggler {
  display: none;
  order: 1;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  outline: 0;
  height: 32px;
  padding: 1px 6px; }
  .navbar-toggler:hover {
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none; }
  .navbar-toggler:focus, .navbar-toggler:active {
    outline: 0; }
  .header_invert .navbar-toggler {
    color: #ffffff; }
    .header_invert .navbar-toggler:hover {
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0.1); }
  @media (max-width: 991.98px) {
    .navbar-toggler {
      display: flex;
      margin-left: 15px; } }
  .navbar-toggler__icon {
    width: 28px;
    height: 28px;
    fill: #999; }
    .navbar-toggler__icon_open {
      display: block; }
      .collapsed .navbar-toggler__icon_open {
        display: none; }
    .navbar-toggler__icon_close {
      display: none; }
      .collapsed .navbar-toggler__icon_close {
        display: block; }
    .header_invert .navbar-toggler__icon {
      fill: #eee; }

.user-menu-toggler {
  display: none;
  position: relative;
  order: 3;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  outline: 0;
  cursor: pointer; }
  .user-menu-toggler:hover {
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none; }
  .user-menu-toggler:focus, .user-menu-toggler:active {
    outline: 0; }
  .header_invert .user-menu-toggler {
    color: #ffffff; }
    .header_invert .user-menu-toggler:hover {
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0.1); }
  .user-menu-toggler_auth {
    display: flex;
    margin-right: 15px;
    margin-left: 20px; }
    .user-menu-toggler_auth:active {
      outline: none;
      border: none; }
    .user-menu-toggler_auth:before {
      display: block;
      position: absolute;
      width: 1px;
      height: 32px;
      left: -10px;
      top: 0px;
      content: "";
      background-color: rgba(0, 0, 0, 0.1); }
      .header_invert .user-menu-toggler_auth:before {
        background-color: rgba(255, 255, 255, 0.2); }
      @media (max-width: 991.98px) {
        .user-menu-toggler_auth:before {
          display: none; } }
  @media (max-width: 991.98px) {
    .user-menu-toggler {
      display: flex;
      margin-right: 15px; } }
  .user-menu-toggler__icon {
    width: 28px;
    height: 28px;
    fill: #999; }
    .user-menu-toggler__icon_open {
      display: block; }
      .collapsed .user-menu-toggler__icon_open {
        display: none; }
    .user-menu-toggler__icon_close {
      display: none; }
      .collapsed .user-menu-toggler__icon_close {
        display: block; }
    .header_invert .user-menu-toggler__icon {
      fill: #eee; }

.user-menu {
  order: 4;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  height: 50px;
  padding: 0 15px; }
  .header_invert .user-menu {
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
  @media (max-width: 991.98px) {
    .user-menu {
      flex-basis: 100%;
      display: none; } }
  @media (min-width: 992px) {
    .user-menu {
      display: flex;
      position: relative;
      padding-left: 10px;
      margin-left: 10px; }
      .user-menu:before {
        display: block;
        position: absolute;
        width: 1px;
        height: 32px;
        left: 0;
        top: 9px;
        content: "";
        background-color: rgba(0, 0, 0, 0.2); }
        .header_invert .user-menu:before {
          background-color: rgba(255, 255, 255, 0.2); } }
  .user-menu.collapse.in {
    display: flex; }
  .user-menu.collapsing {
    height: 0; }
    @media (max-width: 991.98px) {
      .user-menu.collapsing {
        display: flex; } }
  .user-menu_auth.collapsing {
    height: 0; }
    @media (min-width: 992px) {
      .user-menu_auth.collapsing {
        display: flex; } }
  @media (min-width: 992px) {
    .user-menu_auth {
      display: none;
      flex-basis: 100%;
      position: relative; }
      .user-menu_auth:before {
        display: none; } }
  .user-menu.collapse.show {
    display: flex; }
  .user-menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 0 15px;
    color: #878787;
    font-size: 12px; }
    .user-menu__item:hover {
      background-color: rgba(0, 0, 0, 0.05);
      text-decoration: none; }
    .header_invert .user-menu__item {
      color: #ffffff; }
      .header_invert .user-menu__item:hover {
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0.25); }
    .user-menu__item_registration {
      height: 32px;
      background-color: #00a09d;
      color: #ffffff;
      padding: 0 15px;
      margin-left: 15px; }
      .user-menu__item_registration:hover {
        color: #ffffff;
        background-color: #00bab6;
        text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3); }
      .header_invert .user-menu__item_registration:hover {
        background-color: #00bab6;
        text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3); }

.sub-navbar {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #fff; }
  .header_invert .sub-navbar {
    background-color: rgba(255, 255, 255, 0.2);
    border-top-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1); }
  .sub-navbar .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .sub-navbar .container:before, .sub-navbar .container:after {
      display: none; }
  .sub-navbar__breadcrumb {
    order: 2;
    z-index: 1;
    padding: 10px 7px 10px 15px; }
    @media (max-width: 991.98px) {
      .sub-navbar__breadcrumb {
        flex-basis: 100%;
        order: 3; } }
  .sub-navbar__submenu-toggler {
    order: 1;
    z-index: 1;
    display: none; }
    @media (max-width: 991.98px) {
      .sub-navbar__submenu-toggler {
        display: flex;
        flex-basis: 100%;
        order: 2; } }
  .sub-navbar__submenu {
    order: 3;
    z-index: 1; }
    @media (max-width: 991.98px) {
      .sub-navbar__submenu {
        flex-basis: 100%;
        order: 2; } }

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 0; }
  .breadcrumb__list {
    align-items: center;
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 11px;
    padding: 0; }
  .breadcrumb__item:after {
    display: inline-block;
    padding: 0 3px 0 1px;
    content: "/";
    color: #aaaaaa; }
    .header_invert .breadcrumb__item:after {
      color: #cccccc; }
  .breadcrumb__item:last-child:after {
    display: none; }
  .breadcrumb__link {
    color: #aaa; }
    .breadcrumb__link:hover {
      color: #666; }
      .breadcrumb__link:hover .breadcrumb__icon {
        fill: #666; }
    .breadcrumb__link_home:hover {
      text-decoration: none; }
    .header_invert .breadcrumb__link {
      color: #cccccc; }
      .header_invert .breadcrumb__link:hover {
        color: #eee; }
        .header_invert .breadcrumb__link:hover .breadcrumb__icon {
          fill: #eee; }
  .breadcrumb__icon {
    display: inline;
    width: 15px;
    height: 15px;
    margin-bottom: -3px;
    fill: #aaa; }
    .header_invert .breadcrumb__icon {
      fill: #cccccc; }

.submenu-toggler {
  padding: 10px 7px 10px 15px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 2px;
  color: #666666;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase; }
  .submenu-toggler:hover, .submenu-toggler:focus {
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none; }
  .submenu-toggler__title {
    color: #666666; }
    .header_invert .submenu-toggler__title {
      color: #cccccc; }
      .header_invert .submenu-toggler__title:hover {
        color: #eee; }
        .header_invert .submenu-toggler__title:hover .submenu-toggler__icon {
          fill: #eee; }
  .submenu-toggler__icon {
    width: 24px;
    height: 24px;
    fill: #666; }
    .header_invert .submenu-toggler__icon {
      fill: #ccc; }
    .submenu-toggler__icon_open {
      display: block; }
      .collapsed .submenu-toggler__icon_open {
        display: none; }
    .submenu-toggler__icon_close {
      display: none; }
      .collapsed .submenu-toggler__icon_close {
        display: block; }

.submenu {
  font-size: 12px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 991.98px) {
    .submenu .dropdown-menu {
      position: static !important;
      float: none !important;
      top: 100% !important;
      left: 0 !important; } }
  @media (max-width: 991.98px) {
    .submenu.collapse {
      display: none; } }
  .submenu.collapse.in {
    display: flex; }
  .submenu__list {
    display: flex;
    padding: 0;
    margin-bottom: 0;
    list-style: none; }
    @media (max-width: 991.98px) {
      .submenu__list {
        flex-basis: 100%;
        flex-wrap: wrap; } }
    .submenu__list_with-actions {
      margin-left: 20px;
      position: relative; }
      @media (max-width: 991.98px) {
        .submenu__list_with-actions {
          margin-left: 0;
          margin-top: 5px;
          padding-top: 5px; } }
      .submenu__list_with-actions:before {
        display: block;
        position: absolute;
        width: 1px;
        height: 24px;
        left: -10px;
        top: 2px;
        content: "";
        background-color: rgba(0, 0, 0, 0.2); }
        .header_invert .submenu__list_with-actions:before {
          background-color: rgba(255, 255, 255, 0.2); }
        @media (max-width: 991.98px) {
          .submenu__list_with-actions:before {
            height: 1px;
            width: 100%;
            left: 0;
            top: 0; } }
  @media (max-width: 991.98px) {
    .submenu__item {
      flex-basis: 100%; } }
  .submenu__item .dropdown-menu {
    font-size: 12px;
    min-width: auto;
    margin-right: -1px; }
  .submenu__link {
    color: #666666;
    display: block;
    padding: 5px 10px; }
    .submenu__link:hover, .submenu__link:focus {
      color: #000000;
      background-color: rgba(0, 0, 0, 0.04);
      text-decoration: none; }
    .header_invert .submenu__link {
      color: #eeeeee; }
      .header_invert .submenu__link:hover {
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0.04); }
    .submenu__link.dropdown-toggle {
      position: relative; }
      .show .submenu__link.dropdown-toggle {
        background-color: #fff;
        color: #333333; }
        .show .submenu__link.dropdown-toggle:before {
          position: absolute;
          display: block;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          background-color: #fff;
          content: ""; }

.footer {
  min-height: 350px;
  background-color: #333; }
  .footer .container {
    display: flex;
    flex-wrap: wrap; }
  .footer__bottom {
    min-height: 60px;
    background-color: #222; }

.footer-block {
  flex-basis: 25%;
  flex-grow: 1;
  padding: 25px 0 15px 0; }
  @media (max-width: 991.98px) {
    .footer-block {
      flex-basis: 50%; } }
  @media (max-width: 575.98px) {
    .footer-block {
      flex-basis: 100%; } }
  .footer-block_community {
    flex-grow: 2; }
    @media (max-width: 991.98px) {
      .footer-block_community {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; } }
  .footer-block:last-child {
    text-align: right; }
  .footer-block__title {
    color: #cccccc;
    text-transform: uppercase;
    font-weight: 700; }
  .footer-block__list {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column; }
  .footer-block__link {
    color: #aaa;
    font-weight: 300; }
    .footer-block__link:hover {
      color: #ccc; }
  .footer-block__description {
    color: #999999;
    line-height: 1.2;
    font-weight: 300;
    font-size: .95em;
    margin: 0 0 20px 0;
    padding: 10px 0; }
    @media (max-width: 991.98px) {
      .footer-block__description {
        text-align: center; } }

.forums-list {
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .forums-list__item {
    flex-basis: 25%;
    flex-shrink: 1; }
    @media (max-width: 767.98px) {
      .forums-list__item {
        flex-basis: 100%;
        margin-bottom: 15px; } }

.forums-list-item {
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.5s cubic-bezier(0.55, 0, 0.1, 1) 0s; }
  .forums-list-item:hover {
    text-decoration: none;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.1); }
    .forums-list-item:hover .forums-list-item__icon-block {
      background-color: #00a09d;
      border-color: #00a09d; }
    .forums-list-item:hover .forums-list-item__icon {
      fill: #fff; }
    .forums-list-item:hover .forums-list-item__title {
      color: #000000; }
  .forums-list-item:active {
    box-shadow: none;
    transition: none; }
  @media (max-width: 767.98px) {
    .forums-list-item {
      flex-direction: row;
      justify-content: flex-start;
      padding: 15px; } }
  .forums-list-item__title {
    color: #666666;
    font-weight: 700;
    transition: all .2s ease-in-out 0s;
    text-align: center; }
    @media (max-width: 991.98px) {
      .forums-list-item__title {
        font-size: .95em; } }
    @media (max-width: 991.98px) {
      .forums-list-item__title {
        flex-grow: 1; } }
  .forums-list-item__icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 36px;
    border: 2px solid rgba(0, 160, 157, 0.3);
    margin-bottom: 15px;
    transition: all .2s ease-in-out 0s; }
    @media (max-width: 991.98px) {
      .forums-list-item__icon-block {
        width: 60px;
        height: 60px; } }
    @media (max-width: 767.98px) {
      .forums-list-item__icon-block {
        width: 48px;
        height: 48px;
        margin-bottom: 0; } }
    @media (max-width: 575.98px) {
      .forums-list-item__icon-block {
        width: 32px;
        height: 32px; } }
  .forums-list-item__icon {
    width: 36px;
    height: 36px;
    fill: rgba(0, 160, 157, 0.5);
    transition: all .2s ease-in-out 0s; }
    @media (max-width: 991.98px) {
      .forums-list-item__icon {
        width: 24px;
        height: 24px; } }
    @media (max-width: 575.98px) {
      .forums-list-item__icon {
        width: 16px;
        height: 16px; } }

.forum_intro {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 35px 30px;
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.9);
  margin-top: 35px;
  transition: all .5s ease-in-out 0s;
  opacity: 1; }
  .forum_intro__title {
    font-size: 2em;
    margin-bottom: 15px;
    font-weight: 300;
    text-align: center; }
    @media (max-width: 991.98px) {
      .forum_intro__title {
        font-size: 1.8em; } }
    @media (max-width: 767.98px) {
      .forum_intro__title {
        font-size: 1.5em; } }
    @media (max-width: 575.98px) {
      .forum_intro__title {
        font-size: 1.3em; } }
  .forum_intro__text {
    font-weight: 300; }
    @media (max-width: 991.98px) {
      .forum_intro__text {
        font-size: .95em; } }
    @media (max-width: 767.98px) {
      .forum_intro__text {
        font-size: .9em; } }
    @media (max-width: 575.98px) {
      .forum_intro__text {
        font-size: .85em; } }
  .forum_intro__close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.25); }
    .forum_intro__close:hover {
      background-color: rgba(0, 0, 0, 0.45); }
      .forum_intro__close:hover .forum_intro__close-icon {
        fill: rgba(255, 255, 255, 0.75); }
    @media (max-width: 991.98px) {
      .forum_intro__close {
        width: 24px;
        height: 24px; } }
  .forum_intro__close-icon {
    width: 24px;
    height: 24px;
    fill: rgba(255, 255, 255, 0.3); }
    @media (max-width: 991.98px) {
      .forum_intro__close-icon {
        width: 16px;
        height: 16px; } }
  .forum_intro__registration-url {
    display: block;
    background-color: #00a09d;
    color: #ffffff;
    padding: 10px 15px;
    margin-top: 15px; }
    .forum_intro__registration-url:hover {
      color: #ffffff;
      background-color: #00bab6;
      text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3);
      text-decoration: none; }
    @media (max-width: 991.98px) {
      .forum_intro__registration-url {
        font-size: .95em; } }
    @media (max-width: 767.98px) {
      .forum_intro__registration-url {
        font-size: .9em; } }
    @media (max-width: 575.98px) {
      .forum_intro__registration-url {
        font-size: .85em; } }

.section-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 25px;
  margin-top: -27px;
  border-radius: 2px;
  flex-wrap: wrap; }
  .section-navbar__menu-togger {
    display: none; }
    @media (max-width: 991.98px) {
      .section-navbar__menu-togger {
        display: flex;
        order: 3; } }
  .section-navbar__title {
    margin: 0 10px;
    font-size: 15px;
    color: #333; }
    @media (max-width: 991.98px) {
      .section-navbar__title {
        flex-grow: 1;
        order: 1;
        font-size: 1em; } }
    @media (max-width: 767.98px) {
      .section-navbar__title {
        font-size: .9em;
        font-weight: 700; } }
    .section-navbar__title:hover, .section-navbar__title:focus {
      color: #000000;
      text-decoration: none;
      outline: 0; }
    .section-navbar__title:after {
      content: "|";
      margin: 0 5px 0 10px;
      color: #dedede; }
      @media (max-width: 991.98px) {
        .section-navbar__title:after {
          display: none; } }
  .section-navbar__menu {
    flex-grow: 1; }
    .section-navbar__menu.collapsing {
      height: 0; }
      @media (max-width: 991.98px) {
        .section-navbar__menu.collapsing {
          display: flex;
          flex-direction: column; } }
    @media (min-width: 992px) {
      .section-navbar__menu.collapse {
        display: flex; } }
    @media (min-width: 992px) {
      .section-navbar__menu.collapse.in {
        display: flex; } }
    @media (min-width: 992px) {
      .section-navbar__menu {
        display: flex; } }
    @media (max-width: 991.98px) {
      .section-navbar__menu {
        display: none;
        order: 5;
        flex-basis: 100%;
        margin: 10px 0; } }
  @media (max-width: 991.98px) {
    .section-navbar__search-toggler {
      order: 2; } }
  .section-navbar__search {
    order: 5;
    display: none;
    flex-basis: 100%; }
    .section-navbar__search.collapsing {
      height: 0;
      display: block; }
    @media (max-width: 991.98px) {
      .section-navbar__search {
        order: 4; } }
  @media (max-width: 991.98px) {
    .section-navbar__action-block {
      flex-basis: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;
      order: 6; } }
  @media (max-width: 767.98px) {
    .section-navbar__action-block {
      justify-content: center; } }
  .section-navbar__action-button {
    font-size: 14px;
    font-weight: 300;
    display: block;
    background-color: #00a09d;
    color: #ffffff;
    padding: 5px 15px; }
    .section-navbar__action-button:hover, .section-navbar__action-button:focus {
      color: #ffffff;
      background-color: #00bab6;
      text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3);
      text-decoration: none; }

.section-menu-togger,
.search-toggler {
  cursor: pointer;
  background-color: transparent;
  padding: 5px; }
  .section-menu-togger:hover,
  .search-toggler:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  .section-menu-togger:focus, .section-menu-togger:active,
  .search-toggler:focus,
  .search-toggler:active {
    outline: 0; }
  .section-menu-togger__icon,
  .search-toggler__icon {
    width: 24px;
    height: 24px;
    fill: #666; }
    .section-menu-togger__icon_open,
    .search-toggler__icon_open {
      display: block; }
      .collapsed .section-menu-togger__icon_open, .collapsed
      .search-toggler__icon_open {
        display: none; }
    .section-menu-togger__icon_close,
    .search-toggler__icon_close {
      display: none; }
      .collapsed .section-menu-togger__icon_close, .collapsed
      .search-toggler__icon_close {
        display: block; }

.section-menu-togger {
  border: 1px solid #ccc; }

.search-toggler {
  border: 0;
  margin-right: 15px; }

.section-menu__link {
  font-size: 12px;
  display: block;
  padding: 5px 10px;
  color: #777777;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent; }
  .section-menu__link:hover, .section-menu__link:focus {
    color: #333333;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
    outline: 0; }
  .section-menu__link.active {
    border-bottom-color: rgba(135, 90, 123, 0.5); }
  @media (max-width: 991.98px) {
    .section-menu__link {
      text-align: right; } }

.section-search-form {
  margin: 10px 0;
  display: flex;
  border-bottom: 1px solid #dedede; }
  .section-search-form__input {
    flex-basis: 80%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 36px;
    padding-left: 10px;
    border: 0; }
    .section-search-form__input:focus {
      outline: 0; }
  .section-search-form__submit {
    flex-basis: 36px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    cursor: pointer; }
    .section-search-form__submit:hover {
      background-color: rgba(0, 0, 0, 0.05); }
      .section-search-form__submit:hover .section-search-form__icon {
        fill: #333333; }
    .section-search-form__submit:focus {
      outline: 0;
      background-color: rgba(0, 0, 0, 0.05); }
  .section-search-form__icon {
    width: 24px;
    height: 24px;
    fill: #777; }

.panel {
  padding: 15px;
  margin-bottom: 15px; }
  .panel__title {
    font-size: 1.3em;
    color: #666;
    margin-bottom: 5px;
    margin-top: 0; }
  .panel__body {
    padding: 15px 0;
    color: #888; }
    .panel__body p {
      font-size: .85em;
      line-height: 1.35em; }
    .panel__body a {
      font-size: .9em;
      color: #333333; }

.form-follow {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .form-follow__input {
    flex-basis: 40px;
    flex-shrink: 1;
    flex-grow: 1;
    font-size: 12px;
    padding-left: 5px;
    border: 0;
    border-bottom: 1px solid #dedede; }
    .form-follow__input:focus {
      outline: 0; }
    .form-follow__input[disabled] {
      cursor: not-allowed; }
  .form-follow__buttons {
    display: flex;
    align-items: stretch;
    flex-basis: 20px;
    flex-shrink: 1;
    flex-grow: 0; }
    .form-follow__buttons button {
      padding: 5px 10px;
      width: 100%;
      font-size: 12px;
      border: 1px solid #fff;
      cursor: pointer; }
  .form-follow__follow-btn {
    display: block;
    background-color: #00a09d;
    color: #ffffff;
    border-color: #00a09d; }
    .form-follow__follow-btn.hidden {
      display: none; }
  .form-follow__unfollow-btn {
    display: block; }
    .form-follow__unfollow-btn.hidden {
      display: none; }

.follovers {
  margin-top: 10px;
  font-size: 12px;
  text-align: center; }
  .follovers__count {
    font-weight: 700; }

.forum {
  margin-top: 50px; }
  .forum .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .forum__left-column {
    flex-basis: 75%;
    flex-grow: 1;
    padding-right: 7.5px; }
    @media (max-width: 991.98px) {
      .forum__left-column {
        flex-basis: 100%;
        padding-right: 0; } }
  .forum__right-column {
    flex-basis: 25%;
    padding-left: 7.5px; }
    @media (max-width: 991.98px) {
      .forum__right-column {
        flex-basis: 100%;
        padding-left: 0; } }

.forum-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 0;
  border-bottom: 1px solid #dedede; }
  .forum-header__title {
    font-weight: 700;
    margin-bottom: 0;
    padding-left: 5px;
    margin-top: 0; }
    @media (max-width: 767.98px) {
      .forum-header__title {
        font-size: 1.2em; } }
  .forum-header__dropdown-toggle {
    border: 0;
    background-color: transparent;
    color: #666666;
    cursor: pointer;
    font-size: .85em; }
    .forum-header__dropdown-toggle:hover, .forum-header__dropdown-toggle:focus {
      background-color: rgba(0, 0, 0, 0.025); }
    .forum-header__dropdown-toggle:focus {
      outline: 0; }
    @media (max-width: 767.98px) {
      .forum-header__dropdown-toggle {
        font-size: .9em; } }
    @media (max-width: 575.98px) {
      .forum-header__dropdown-toggle {
        font-size: .8em; } }
  .forum-header__dropdown-menu {
    padding: 0 0 10px 0;
    min-width: 220px; }
    .forum-header__dropdown-menu .dropdown-header {
      font-size: 14px;
      padding: 3px 10px;
      font-weight: 700;
      margin-top: 10px; }
    .forum-header__dropdown-menu li.active {
      background-color: rgba(0, 0, 0, 0.05); }
    .forum-header__dropdown-menu li a {
      font-size: 12px;
      display: block;
      padding: 2px 10px;
      width: 100%;
      color: #666666; }
      .forum-header__dropdown-menu li a:hover, .forum-header__dropdown-menu li a:focus {
        text-decoration: none;
        color: #333333;
        background-color: rgba(0, 0, 0, 0.05); }

.posts-list {
  margin-top: 25px; }

.forum-item {
  position: relative;
  margin-bottom: 35px;
  border-top: 5px solid transparent; }
  .forum-item_success {
    position: relative;
    border-top-color: rgba(102, 187, 106, 0.7);
    padding-top: 23px; }
    .forum-item_success:before {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      padding: 0px 10px 5px 10px;
      content: attr(data-sucess);
      background-color: rgba(102, 187, 106, 0.7);
      color: #fff;
      font-size: 12px;
      text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.25); }
  .forum-item__top {
    display: flex; }
  .forum-item__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15px; }
    .forum-item__middle_flex-end {
      justify-content: flex-end; }
  .forum-item__bottom {
    display: flex;
    flex-direction: column; }
  .forum-item__top-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 40px;
    flex-grow: 0;
    flex-shrink: 0; }
  .forum-item__top-right {
    flex-basis: 280px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 15px 15px 15px 5px; }
  .forum-item__main-icon {
    margin: 15px 0 7.5px 0;
    width: 24px;
    height: 24px;
    fill: rgba(135, 90, 123, 0.5); }
  .forum-item__vote.vote {
    margin-right: 0; }
  .forum-item__title {
    font-size: 1.6em;
    font-weight: 700;
    display: flex;
    align-items: flex-start;
    padding: 0 10px;
    margin-top: 0; }
    .forum-item__title_h1 {
      font-size: 2.2em;
      color: #333;
      padding-right: 50px; }
    @media (max-width: 767.98px) {
      .forum-item__title {
        font-size: 1.2em; } }
    @media (max-width: 575.98px) {
      .forum-item__title {
        font-size: 1.1em; } }
  .forum-item__share-link {
    display: flex;
    padding: 5px;
    transition: all .2s ease-in-out 0s; }
    .forum-item__share-link:hover, .forum-item__share-link:focus {
      background-color: rgba(0, 0, 0, 0.05); }
      .forum-item__share-link:hover .forum-item__share-icon, .forum-item__share-link:focus .forum-item__share-icon {
        fill: #00a09d; }
  .forum-item__share-icon {
    width: 24px;
    height: 24px;
    fill: rgba(0, 160, 157, 0.6);
    transition: all .2s ease-in-out 0s; }
  .forum-item__share {
    flex-basis: 100%;
    padding: 15px 0 15px 5px; }
    .forum-item__share.collapsing {
      height: 0;
      display: flex; }
  .forum-item__text {
    padding: 10px;
    font-size: .9em;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px; }
    .forum-item__text_full {
      overflow: auto;
      text-overflow: inherit;
      height: auto;
      color: #666; }
    @media (max-width: 767.98px) {
      .forum-item__text {
        font-size: .85em; } }
    @media (max-width: 575.98px) {
      .forum-item__text {
        font-size: .8em; } }
  .forum-item__tags-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 15px;
    margin-top: 15px; }
  .forum-item__tag {
    margin: 0 5px 5px 5px;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: rgba(135, 90, 123, 0.5);
    color: #ffffff;
    transition: background .2s ease-in-out 0s; }
    .forum-item__tag:hover, .forum-item__tag:focus {
      background-color: #875a7b;
      color: #ffffff;
      text-decoration: none; }
    .forum-item__tag_active {
      background-color: rgba(135, 90, 123, 0.75); }
  .forum-item__link {
    flex-shrink: 1;
    color: #666; }
    .forum-item__link:hover, .forum-item__link:focus {
      color: #000000;
      text-decoration: none; }
  .forum-item__buttons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center; }
    @media (max-width: 575.98px) {
      .forum-item__buttons-list {
        flex-direction: column;
        align-items: flex-end; } }
  .forum-item__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    border: 1px solid #00a09d;
    color: #00a09d;
    font-size: 12px;
    transition: all .2s ease-in-out 0s; }
    @media (max-width: 767.98px) {
      .forum-item__button {
        font-size: 12px;
        padding: 3px 7.5px; } }
    .forum-item__button + .forum-item__button {
      margin-left: 15px; }
      @media (max-width: 575.98px) {
        .forum-item__button + .forum-item__button {
          margin-left: 0;
          margin-top: 10px; } }
    .forum-item__button:hover, .forum-item__button:focus {
      background-color: #00a09d;
      color: #ffffff;
      text-decoration: none; }
      .forum-item__button:hover .forum-item__button-icon, .forum-item__button:focus .forum-item__button-icon {
        fill: #fff; }
  .forum-item__button-icon {
    width: 16px;
    height: 16px;
    fill: rgba(0, 160, 157, 0.6);
    margin-right: 5px;
    transition: all .2s ease-in-out 0s; }
  .forum-item__footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
    flex-basis: 100%;
    flex-grow: 0;
    min-height: 30px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 7.5px 15px; }
    .forum-item__footer_align_flex-end {
      justify-content: flex-end; }
  .forum-item__footer-icon {
    width: 20px;
    height: 20px;
    fill: rgba(135, 90, 123, 0.5);
    margin-right: 5px; }
  .forum-item__footer-item {
    padding: 0 15px;
    display: flex;
    align-items: flex-end;
    font-size: 12px; }
    @media (max-width: 767.98px) {
      .forum-item__footer-item {
        flex-basis: 30%;
        margin: 5px 0; } }
    @media (max-width: 575.98px) {
      .forum-item__footer-item {
        flex-basis: 50%; } }
  .forum-item__footer-item-link {
    padding: 5px 15px;
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    opacity: .5;
    transition: all .1s ease-in-out 0s;
    background-color: transparent;
    border: 0;
    color: #666; }
    .forum-item__footer-item-link:hover, .forum-item__footer-item-link:focus {
      outline: 0;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.05);
      text-decoration: none;
      color: #333; }
  .forum-item__footer-item-value {
    color: #888; }
    .forum-item__footer-item-value:hover, .forum-item__footer-item-value:focus {
      text-decoration: none; }
  .forum-item a.forum-item__footer-item-value:hover, .forum-item a.forum-item__footer-item-value:focus {
    color: #555;
    text-decoration: none; }
  .forum-item__country-flag {
    height: 16px;
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.35);
    opacity: .5; }
  .forum-item__comments-block {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 50px; }
  .forum-item__comment-action {
    display: flex;
    justify-content: flex-end;
    padding: 10px; }
  .forum-item__comment-form {
    flex-basis: 100%; }

.comment {
  margin: 10px;
  padding: 25px 15px 0 15px;
  background-color: rgba(0, 0, 0, 0.05);
  position: relative; }
  .comment:first-child {
    margin-top: 20px; }
  .comment__close {
    position: absolute;
    top: 5px;
    right: 5px; }
  .comment__close-button {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px; }
    .comment__close-button:hover, .comment__close-button:focus {
      background-color: rgba(0, 0, 0, 0.05); }
  .comment__close-icon {
    width: 16px;
    height: 16px;
    fill: rgba(135, 90, 123, 0.5); }
  .comment__content {
    font-size: .8em;
    color: #666666; }
  .comment__footer {
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 -15px;
    min-height: 40px; }

.comment-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between; }
  .comment-footer__icon {
    width: 20px;
    height: 20px;
    fill: rgba(135, 90, 123, 0.5);
    margin-right: 5px; }
  .comment-footer__item {
    padding: 0 15px;
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    flex-shrink: 0; }
    @media (max-width: 767.98px) {
      .comment-footer__item {
        flex-basis: 30%;
        margin: 5px 0; } }
    @media (max-width: 767.98px) {
      .comment-footer__item_sm-100 {
        flex-basis: 100%; } }
    .comment-footer__item_with-flag {
      flex-basis: 50px; }
  .comment-footer__item-value {
    color: #888; }
  .comment-footer a.question__footer-item-value:hover, .comment-footer a.question__footer-item-value:focus {
    color: #555;
    text-decoration: none; }
  .comment-footer__country-flag {
    height: 16px;
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.35);
    opacity: .5; }
  .comment-footer__action {
    padding: 0 15px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end; }
  .comment-footer__action-button {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    font-size: 12px; }
    .comment-footer__action-button:hover, .comment-footer__action-button:focus {
      outline: 0;
      background-color: rgba(0, 0, 0, 0.05); }

.comment-form {
  padding: 15px;
  flex-wrap: wrap;
  justify-content: center; }
  .comment-form.collapse.in {
    display: flex; }
  .comment-form.collapsing {
    display: flex; }
  .comment-form__textarea {
    flex-basis: 100%;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 5px; }
    .comment-form__textarea:focus {
      outline: 0;
      border: 1px solid rgba(0, 160, 157, 0.4); }
  .comment-form__submit {
    font-size: 14px;
    display: block;
    background-color: #00a09d;
    color: #ffffff;
    padding: 5px 15px;
    border: 1px solid #00a09d;
    cursor: pointer; }
    .comment-form__submit:hover, .comment-form__submit:focus {
      color: #ffffff;
      background-color: #00bab6;
      text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3); }

.vote {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px; }
  .vote__up, .vote__down {
    border: 0;
    background-color: transparent;
    cursor: pointer; }
    .vote__up:focus, .vote__down:focus {
      outline: 0; }
    .vote__up:after, .vote__down:after {
      content: "";
      cursor: pointer;
      width: 0;
      height: 0;
      background-color: transparent;
      display: block;
      box-sizing: border-box;
      border: 7px solid transparent; }
  .vote__up {
    margin-bottom: 3px; }
    .vote__up:after {
      border-bottom-color: rgba(102, 187, 106, 0.4); }
    .vote__up:hover:after, .vote__up:focus:after {
      border-bottom-color: #66bb6a; }
  .vote__down {
    margin-top: 2px; }
    .vote__down:after {
      border-top-color: rgba(239, 83, 80, 0.4); }
    .vote__down:hover:after, .vote__down:focus:after {
      border-top-color: #ef5350; }
  .vote__count {
    font-size: 18px;
    font-weight: 700;
    color: #666666;
    margin-bottom: -1px; }
    .vote .vote__count.vote_count {
      line-height: 1.2em; }

.forum-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 40px; }
  .forum-pagination li {
    margin: 0 5px; }
    .forum-pagination li.disabled {
      display: none; }
    .forum-pagination li.active a {
      border-top-color: #875a7b;
      font-weight: 700; }
  .forum-pagination a {
    display: block;
    padding: 10px;
    color: #666;
    min-width: 38px;
    border-top: 1px solid rgba(135, 90, 123, 0.2);
    text-align: center; }
    .forum-pagination a:hover, .forum-pagination a:focus {
      text-decoration: none;
      border-top-color: #875a7b;
      color: #333; }

.favorit-forum-item {
  padding: 10px 0; }
  .favorit-forum-item__link {
    display: block;
    cursor: pointer; }
  .favorit-forum-item__icon {
    width: 32px;
    height: 32px;
    fill: rgba(0, 0, 0, 0.3); }
    .forum_favourite_question .favorit-forum-item__icon {
      fill: rgba(255, 204, 0, 0.5); }

.accept-answer-forum-item {
  padding: 10px 0; }
  .accept-answer-forum-item__link {
    display: block; }
  .accept-answer-forum-item__icon {
    width: 32px;
    height: 32px;
    fill: rgba(0, 0, 0, 0.3); }
    .oe_answer_true .accept-answer-forum-item__icon {
      fill: rgba(102, 187, 106, 0.5); }

.sub-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  flex-grow: 0;
  border-bottom: 1px solid rgba(135, 90, 123, 0.2);
  padding: 7.5px 0; }
  .forum-item__title_h1 + .sub-title {
    margin-top: 15px; }
  .sub-title__icon {
    width: 20px;
    height: 20px;
    fill: rgba(135, 90, 123, 0.5);
    margin-right: 5px; }
  .sub-title__item {
    padding: 0 15px;
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    flex-shrink: 0; }
    @media (max-width: 767.98px) {
      .sub-title__item {
        flex-basis: 30%;
        margin: 5px 0; } }
    @media (max-width: 767.98px) {
      .sub-title__item_sm-100 {
        flex-basis: 100%; } }
    .sub-title__item_with-flag {
      flex-basis: 50px; }
  .sub-title__item-value {
    color: #888; }
  .sub-title a.question__footer-item-value:hover, .sub-title a.question__footer-item-value:focus {
    color: #555;
    text-decoration: none; }
  .sub-title__country-flag {
    height: 16px;
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.35);
    opacity: .5; }

.post-reply {
  padding: 25px 0; }
  .post-reply__title {
    font-size: 1.5em;
    color: #333333; }
  .post-reply__description {
    color: #666666;
    line-height: 1.2;
    font-size: .9em; }
  .post-reply__submit {
    display: inline-block;
    margin: 15px auto;
    font-size: 14px;
    font-weight: 300;
    display: block;
    background-color: #00a09d;
    color: #ffffff;
    padding: 5px 15px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer; }
    .post-reply__submit:hover, .post-reply__submit:focus {
      color: #ffffff;
      background-color: #00bab6;
      text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3);
      text-decoration: none; }

.alert {
  position: relative; }
  .alert .close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px 4px;
    line-height: 16px; }

