// $enable-caret:              true !default;
$enable-rounded:            false;
$enable-shadows:            true;
// $enable-gradients:          false !default;
// $enable-transitions:        true !default;
// $enable-hover-media-query:  false !default;
// $enable-grid-classes:       true !default;
// $enable-print-styles:       true !default;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$body-bg:    $gray-200;
$body-color: #292b2c;

$component-active-color:      #333;
$component-active-bg:         #eee;

$block-bg: #fff;

$breadcrumb-bg:  transparent;

$main-color: #875a7b;
$accent-color: #00a09d;
$success-color: #66BB6A;
$error-color: #EF5350;
$dropdown-link-hover-bg:    $gray-200;

$box-shadow: 0 1px 2px rgba(0,0,0,.1);
$box-shadow-hover: -2px 4px 4px rgba(0,0,0,.1);

$link-color:                $main-color;

.box-block {
    background-color: $block-bg;
    box-shadow: $box-shadow;
    // z-index: -10;
}

$font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-base:              1rem;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 1.5 !default;
$h3-font-size:                $font-size-base * 1.25 !default;
$h4-font-size:                $font-size-base * 1.125 !default;
$h5-font-size:                $font-size-base !default;
$h6-font-size:                $font-size-base * 0.8 !default;

.light { font-weight: 300; }


