body {
    position: relative;
    font-family: $font-family-sans-serif;
    background-color: #e9ecef;
}

.main {
    z-index: 1;
    min-height: 600px;
    &__header {
        padding: 125px 0 75px 0;
        @include media-breakpoint-down(md) {
            padding: 160px 0 65px 0;
        }
        &[data-background-image] {
            background-position: center center; // background-size: cover;
            background-repeat: no-repeat no-repeat; 
            z-index: 0;
        }
        &_inverted {
            background: #75526b;
            background-image: linear-gradient(150deg, #875A7B 20%, #62495B 80%);
        }
    }
    &__header-bg-gray {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0; 
        z-index: 1;
        .main__header[data-background-image] & {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
    .container {
        position: relative;
        z-index: 2;
    }
}

.main-title {
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    z-index: 2;
    @include media-breakpoint-down(md) {
        font-size: 2.2em;
    }
    .main__header_inverted & {
        color: #ffffff;
        text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
    }
}

