.footer {
    min-height: 350px;
    background-color: #333;
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    &__bottom {
        min-height: 60px;
        background-color: #222;
    }
}

.footer-block {
    flex-basis: 25%;
    flex-grow: 1;
    padding: 25px 0 15px 0;
    @include media-breakpoint-down(md) {
        flex-basis: 50%;
    }
    @include media-breakpoint-down(xs) {
        flex-basis: 100%;
    }
    &_community {
        flex-grow: 2;
        @include media-breakpoint-down(md) {
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &:last-child {
        text-align: right;
    }
    &__title {
        color: #cccccc;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__list {
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
    }
    &__link {
        color: #aaa;
        font-weight: 300;
        &:hover {
            color: #ccc;
        }
    }
    &__description {
        color: #999999;
        line-height: 1.2;
        font-weight: 300;
        font-size: .95em;
        margin: 0 0 20px 0;
        padding: 10px 0;
        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }
}

