.forums-list {
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__item {
        flex-basis: 25%;
        flex-shrink: 1;
        @include media-breakpoint-down(sm) {
            flex-basis: 100%;
            margin-bottom: 15px;
        }
    }
}

.forums-list-item {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow .5s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    @extend .box-block;
    &:hover {
        text-decoration: none;
        box-shadow: $box-shadow-hover;
        .forums-list-item__icon-block {
            background-color: $accent-color;
            border-color: $accent-color;
        }
        .forums-list-item__icon {
            fill: #fff;
        }
        .forums-list-item__title {
            color: #000000;
        }
    }
    &:active {
        box-shadow: none;
        transition: none;
    }
    @include media-breakpoint-down(sm) {
        flex-direction: row;
        justify-content: flex-start;
        padding: 15px;
    }
    &__title {
        color: #666666;
        font-weight: 700;
        transition: all .2s ease-in-out 0s;
        text-align: center;
        @include media-breakpoint-down(md) {
            font-size: .95em;
        }
        @include media-breakpoint-down(md) {
            flex-grow: 1;
        }
    }
    &__icon-block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 72px;
        border-radius: 36px;
        border: 2px solid rgba($accent-color, 0.3);
        margin-bottom: 15px;
        transition: all .2s ease-in-out 0s;
        @include media-breakpoint-down(md) {
            width: 60px;
            height: 60px;
        }
        @include media-breakpoint-down(sm) {
            width: 48px;
            height: 48px;
            margin-bottom: 0;
        }
        @include media-breakpoint-down(xs) {
            width: 32px;
            height: 32px;
        }
    }
    &__icon {
        width: 36px;
        height: 36px;
        fill: rgba($accent-color, 0.5);
        transition: all .2s ease-in-out 0s;
        @include media-breakpoint-down(md) {
            width: 24px;
            height: 24px;
        }
        @include media-breakpoint-down(xs) {
            width: 16px;
            height: 16px;
        }
    }
}