.forum_intro {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 35px 30px;
    background-color: rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, .9);
    margin-top: 35px;
    transition: all .5s ease-in-out 0s;
    opacity: 1;
    &__title {
        font-size: 2em;
        margin-bottom: 15px;
        font-weight: 300;
        text-align: center;
        @include media-breakpoint-down(md) {
            font-size: 1.8em;
        }
        @include media-breakpoint-down(sm) {
            font-size: 1.5em;
        }
        @include media-breakpoint-down(xs) {
            font-size: 1.3em;
        }
    }
    &__text {
        font-weight: 300;
        @include media-breakpoint-down(md) {
            font-size: .95em;
        }
        @include media-breakpoint-down(sm) {
            font-size: .9em;
        }
        @include media-breakpoint-down(xs) {
            font-size: .85em;
        }
    }
    &__close {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        background-color: rgba(0, 0, 0, 0.25);
        &:hover {
            background-color: rgba(0, 0, 0, 0.45);
            .forum_intro__close-icon {
                fill: rgba(255, 255, 255, .75);
            }
        }
        @include media-breakpoint-down(md) {
            width: 24px;
            height: 24px;
        }
    }
    &__close-icon {
        width: 24px;
        height: 24px;
        fill: rgba(255, 255, 255, .3);
        @include media-breakpoint-down(md) {
            width: 16px;
            height: 16px;
        }
    }
    &__registration-url {
        display: block;
        background-color: $accent-color;
        color: #ffffff;
        padding: 10px 15px; // margin-left: 15px;
        margin-top: 15px;
        &:hover {
            color: #ffffff;
            background-color: lighten($accent-color, 5%);
            text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3);
            text-decoration: none;
        }
        @include media-breakpoint-down(md) {
            font-size: .95em;
        }
        @include media-breakpoint-down(sm) {
            font-size: .9em;
        }
        @include media-breakpoint-down(xs) {
            font-size: .85em;
        }
    }
}