.panel {
    @extend .box-block;
    padding: 15px;
    margin-bottom: 15px;
    &__title {
        font-size: 1.3em;
        color: #666;
        margin-bottom: 5px;
        margin-top: 0;
    }
    &__body {
        padding: 15px 0;
        color: #888;
        p {
            font-size: .85em;
            line-height: 1.35em;
        }
        a {
            font-size: .9em;
            color: #333333;
        }
    }
}

.form-follow {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__input {
        flex-basis: 40px;
        flex-shrink: 1;
        flex-grow: 1;
        font-size: 12px;
        padding-left: 5px;
        border: 0;
        border-bottom: 1px solid #dedede;
        &:focus {
            outline: 0;
        }
        &[disabled] {
            cursor: not-allowed;
        }
    }
    &__buttons {
        display: flex;
        align-items: stretch;
        flex-basis: 20px;
        flex-shrink: 1;
        flex-grow: 0;
        button {
            padding: 5px 10px;
            width: 100%;
            font-size: 12px;
            border: 1px solid #fff;
            cursor: pointer;
        }
    }
    &__follow-btn {
        display: block;
        background-color: $accent-color;
        color: #ffffff;
        border-color: $accent-color;
        &.hidden {
            display: none;
        }
    }
    &__unfollow-btn {
        display: block;
        &.hidden {
            display: none;
        }
    }
}
.follovers {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    &__count {
        font-weight: 700;
    }
}